.button {
    background-color: rosybrown;
    color: cornsilk;
    border: 1px solid cornsilk;
    margin: 10px;
}

.input {
    border: 2px solid rosybrown;
    color: rgb(228, 150, 137);
}

h1 {
    color: rgb(228, 150, 137);
    text-align: center;
    padding-top: 20px;
}

label {
    color: rgb(228, 150, 137);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    color: yellowgreen;
}